@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}
h1{
	color:#1c1111;
}
.button1{
	text-decoration: none;
	background-color:#d6563e;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.caixa1{
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #d6563e;
	border-radius: 5px;
}

.caixa2{
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #d6563e;
	border-radius: 5px;
}
#tabela{
	margin-top: 30px; 
	border-collapse: collapse;
}

#tabela th{
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color:  #d6563e;
	color:#ffff;
}
#tabela td{
	border: 1px solid #ddd;
	padding: 10px;
}